
/* css grid for portfolio (hopefully) */

/* .container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3% 3%;
    grid-auto-flow: row;
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i";
  } */

/* svg hover interaction(s) */

/* .welch{
    border: 1px solid blue;
    scale: 40%;
} */


#mydiv {
  position: absolute;
  z-index: 9;
  /* background-color: #f1f1f1; */
  /* border: 1px solid #d3d3d3; */
  /* scale: 40%; */
  text-align: center;
  font-family: arial;
  
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  /* background-color: #2196F3; */
  /* color: #fff; */
  height: 90px;
  width: 76px;
}

svg{
  scale: 100%;
  align-items: center;
  justify-items:center;
}

.bleeba{
  scale: 100%;
  /* border: 1px solid blue; */
}